<!--
  Generated template for the ImageScroll page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{this.title || "ImageScroll" }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <sebm-google-map
    #sebmGoogleMapComponent
    *ngIf="showMap"
    [latitude]="mapAttrs?.center.lat()"
    [longitude]="mapAttrs?.center.lng()"
    [zoom]="mapAttrs?.zoom"
    [disableDefaultUI]="false"
    [zoomControl]="true"
    >
    <sebm-google-map-marker
      *ngFor="let m of items; let i = index;"
      [latitude]="m.position?.lat"
      [longitude]="m.position?.lng"
      [iconUrl]="'assets/icon/yellow-star-icon_16-43372.png'"
    >
    </sebm-google-map-marker>
  </sebm-google-map>
  <ion-list class="virtual-scroll-HACK"
    [virtualScroll]="items" 
    [headerFn]="headerFn"
    approxItemHeight="340px"
    approxHeaderHeight="42px"
    >

    <ion-item-divider 
      *virtualHeader="let header"
      color="primary">
      {{ header }}
    </ion-item-divider>

    <ion-card
      no-padding
      margin-vertical
      *virtualItem="let photo"
      >
      <ion-img [src]="getLazySrc(photo).$img?.src" 
        [width]="photo.$img?.w" 
        [height]="photo.$img?.h"
      ></ion-img>
      <ion-card-content>
        <ion-card-title>
          {{photo.filename}}
          <ion-icon name="star" *ngIf="photo.isFavorite"></ion-icon>
        </ion-card-title>
        <p > taken: {{ getLocalTime(photo) }} </p>
        <p > photo: {{ getDimensions(photo) }} 
          <span [hidden]="!photo.$img">, IMG: {{ getDimensions(photo, '$img') }}</span>
        </p>
        <p [hidden]="!photo.position"> gps: {{ photo.position | json}} <p>
        <p class="truncate"> {{photo.uuid}} </p>
      </ion-card-content>
    </ion-card>

  </ion-list>

</ion-content>
